
*.pyc

.idea/AnalizadorFuzzyMap.iml

.idea/misc.xml

.idea/modules.xml

.idea/vcs.xml

.idea/workspace.xml

a.xml

*.csv

Dados/*

Dados/DadosJ48_ComMédiaBienal_20150924.xlsx

Dados/100p0/Afastados20160902.xes.gz

Dados/100p0/Afastados20160902.xml

Dados/100p100/Afastados20160902.xes.gz
